.maincontainer {
  display:flex;
  justify-content:flex-start;
}
.phoneimg {
  display:flex;
  justify-content:flex-start;
}

.rightcontainer {
  display:flex;
  flex-direction:column;
}

.toprightcontainer {
  border: 0.1px solid rgb(216, 216, 216);
  padding: 5px 40px 5px 40px;
}

.logo {
  height: 70px;
  width: 200px;
  padding-top: 10px;
}

nav {
  display:flex;
  justify-content: flex-start;
}

body {
  text-align: center;
  background-color: white;
  font-family: new -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

ul {
  display:flex;
  justify-content:flex-start space-around;
}

form {
  display:flex;
  flex-direction: column;
  align-content: stretch;
}

.forminput {
  margin-top: 4px;
  margin-bottom: 4px;
}

input {
  width:300px;
  padding:5px;
  font-size: 15px;
}

button {
  background-color: rgb(75, 75, 255);
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 16px;
  width: 317px;
  display: inline-block;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 7%;
}

.hr1 {
  ;
}

.hr2 {
  ;
}

h1 {
  font-size: 18px;
  color: gray;
}

h2 {
  font-size: 18px;
  color: gray;
  font-weight: normal;
}

h3 {
  font-size: 18px;
  color: gray;
  font-weight: bold;
}

h4 {
  font-size: 18px;
  color: black;
  font-weight: normal;
  border: 0.1px solid rgb(212, 212, 212);
  padding-top: 25px;
  padding-bottom: 25px;
}

h5 {
  font-size: 18px;
  color: black;
  font-weight: normal;
}

p {
  font-size: 17px;
  color: gray;
}